body{
  background-color: #7b1fa2;
  text-align:center;
  color: white;
  margin: 0;
}

h1{
  color:white;
  font-family: 'Fredoka One', cursive, monospace;
  font-weight:200;
  font-size:3.5em;
}

h2{
  color: white;
  font-family: 'Fredoka One', cursive, monospace;
  font-weight:200;
  font-size:2.2em;
}

td, tr{
  border: 2px solid white;
  border-radius: 4px;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

th{
  font-size: 1.5em;
}

code{
  background-color: #C3B8B8;
  padding: 8px;
  border-radius: 5px;
  color: black;
}

p{
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.button{
  margin-top: 100px;
  border:none;
  outline:none;
  border-radius:5px;
  line-height: 2;
  font-size:2em;
  text-align:center;
  width:25%;
  background-color:#38006b;
  border:3px solid white;
  color:white;
  font-family: 'Fredoka One', cursive;
  font-weight:200;
}

.button:hover{
  background-color:#4a0072;
  cursor:pointer;
}

#explanation{
  width: 30%;
  display: inline-block;
}

#explanation-wrapper{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #explanation{
    width: 80%;
    display: inline-block;
  }
}
