body{
  background-color: #7b1fa2;
  text-align:center;
}

h1{
  color:white;
  font-family: 'Fredoka One', cursive, monospace;
  font-weight:200;
  font-size:3.5em;
}

#explanation{
  width: 30%;
  display: inline-block;
}

#explanation-wrapper{
  text-align: center;
}

p{
  color: white;
  font-family: 'Thasadith', sans-serif;
  font-size: 1.3em;
}

.button{
  background-color: white;

  border-radius: 50%;
  display: inline-block;

  font-size:10em;
  color:#7b1fa2;
  border:none;
  outline:none;
}

.button:hover{
  opacity:0.7;
  cursor:pointer;
}

.top{
  height:10vh;
}

.countdown{
  transition: opacity 1s;
}

#timer{
  position:fixed;
  top:20px;
  right:30px;
  margin:0px;
  opacity:0;
}

input{
  opacity:0;
  border:none;
  outline:none;
  border-radius:5px;
  line-height: 2;
  font-size:2em;
  text-align:center;
  width:25%;
}

#settings{
  opacity:0;
  border:none;
  outline:none;
  border-radius:5px;
  line-height: 2;
  font-size:2em;
  text-align:center;
  width:25%;
  background-color:#087f23;
  color:white;
  font-family: 'Fredoka One', cursive;
  font-weight:200;
  position: absolute;
  bottom: 3vh;
}

#settings:hover, #leaderboard:hover{
  background-color:#4caf50;
  cursor:pointer;
}

#leaderboard{
  opacity:0;
  border:none;
  outline:none;
  border-radius:5px;
  line-height: 2;
  font-size:2em;
  text-align:center;
  width:25%;
  background-color:#087f23;
  color:white;
  font-family: 'Fredoka One', cursive;
  font-weight:200;
  position: absolute;
  bottom: 13vh;
}

#submit, #submit-score{
  opacity:0;
  border:none;
  outline:none;
  border-radius:5px;
  line-height: 2;
  font-size:2em;
  text-align:center;
  width:25%;
  background-color:#087f23;
  color:white;
  font-family: 'Fredoka One', cursive;
  font-weight:200;
}

#submit:hover, #submit-score:hover{
  background-color:#4caf50;
  cursor:pointer;
}

#submit-score{
  background-color: white;
  color: #7b1fa2;
}

#submit-score:hover{
  background-color: #bcbcbc;
  color: #7b1fa2;
}

#submit-score:disabled{
  background-color: gray;
}

.report{
  background-color:#ffebee;
  height:20vh;
  width:80vw;
  margin: 0 10vw 0 10vw;
}

#qnumber{
  position:fixed;
  top:20px;
  left:30px;
  margin:0px;
  opacity:0;
}

.login{
  opacity:1 !important;
  background-color:#38006b !important;
  border:3px solid white !important;

}

.login:hover{
  background-color:#4a0072 !important;
}

#class-code{
  opacity:1;
  position:fixed;
  left:37.5%;
  bottom:30px;
}

@media only screen and (max-width: 800px) {
    #submit, #name-input, #text, #class-code, #submit-score, #settings, #leaderboard{
      width:80vw;
    }
    #class-code{
      left:10vw;
    }
    table{
      display:none;
    }
    .finish-submit{
      position:static !important;
    }
    #leaderboard{
      bottom: 15vh;
    }
}
